<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="AnonumousProject.Properties.Settings.AnonoyConnectionString"
      connectionString="Data Source=BALU-PC;Initial Catalog=Anonoy;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ConnectionString" value="Data Source=welcome-PC;Initial Catalog=Anonoy;Integrated Security=True"/>
  </appSettings>
</configuration>